{% load static %}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>Студия красоты</title>
  <meta name="description" content="Мастер Анна Малых предлагает услуги наращивания ресниц и перманентного макияжа в Дмитрове. Качественное оборудование и сертифицированные материалы." />

  <!--module opengraph -->
<meta property="og:title" content="Перманентный макияж и наращивание ресниц."/>
<meta property="og:description" content="Мастер Анна Малых предлагает услуги наращивания ресниц и перманентного макияжа в Дмитрове. Качественное оборудование и сертифицированные материалы.">
<meta property="og:url" content="https://test.ru/"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Сайт мастера Анны малых."/>
<meta property="og:image" content="https://levitansky.ru/upload/test.png"/>
<!--module opengraph -->

</head>

<body>
  <main class="main">
  </main>
</body>

</html>